/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PAGE */
body {
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CANVAS */
#gameCanvas {
  background: #222;
  display:
